.inputWithLabel{
	margin: 10px;
	display: flex;
	justify-content: space-between;
	width: 500px;
	background-color: red;
	text-align: right;


}
h3 {
	/* text-align: right; */
}

.inputWithLabel h3{

	width: 50%;
}

.inputWithLabel input{

	width: 100%;
}